html {
  font-size: 12px;
}

body {
  background-color: #d9cb9e;
}

.header {
  margin-top: 5rem;
  margin-bottom: 6rem;
  width: 100%;
}
.header .header-left .header-left-box {
  background: url("../images/blog.jpg") no-repeat;
  border-radius: 20px;
  width: 25rem;
  height: 6rem;
  box-shadow: 8px -12px 5px #d9b94c;
  background-color: #ffd95e;
}
.header .header-right {
  position: relative;
}
.header .header-right button {
  border: 0;
  outline: 0;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  border-radius: 0px;
  width: 4rem;
  height: 3rem;
  box-shadow: 8px -9px 5px #9a2619;
  background-color: #dc3522;
}
.header .header-right input {
  border: 0;
  outline: 0;
  position: absolute;
  right: 6rem;
  top: 1rem;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 25rem;
  height: 4rem;
  box-shadow: 8px -9px 5px #475a56;
  background-color: #748483;
}
.header .header-right input::placeholder {
  font-size: 1.5rem;
  color: #aaa;
}

@media screen and (max-width: 768px) {
  .header .header-left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .header .header-left .header-left-box {
    width: 100%;
  }
  .header .header-right {
    float: none;
    display: flex;
    justify-content: center;
  }
  .header .header-right button {
    position: static;
    margin-top: 0.5rem;
  }
  .header .header-right input {
    position: static;
  }
}
.nav {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-10deg);
  border-radius: 5px;
  width: 100%;
  height: 4rem;
  box-shadow: 8px -9px 5px #778585;
  background-color: #374140;
}
.nav span {
  position: absolute;
  top: 1rem;
  left: 2rem;
  border-radius: 3px;
  width: 10rem;
  height: 5rem;
  box-shadow: 0px 0px 0px #9a2619;
  background-color: #dc3522;
}
.nav .span1 {
  background-color: #901f11;
  transform: rotateX(255deg) translate3d(-0.1rem, 2.5rem, 2.5rem);
}
.nav .span2 {
  line-height: 5rem;
  font-size: 1.6rem;
  color: #ddd;
  text-align: center;
}

.content {
  margin-top: 5rem;
  margin-bottom: 6rem;
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 20rem;
  box-shadow: 14px -18px 5px #3e5662;
  background-color: #557989;
}
.content .myOpen {
  position: absolute;
  top: -3rem;
  right: 4rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #ccc;
  border-radius: 1rem;
  display: none;
  cursor: pointer;
}
.content .content-left {
  display: inline-block;
  min-height: 20rem;
}
.content .content-left #text1,
.content .content-left #text2,
.content .content-left #text3 {
  color: #000;
  height: 18rem;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 0 1rem;
  overflow: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
}
.content .content-left #text2,
.content .content-left #text3 {
  height: 25rem;
}
.content .content-right {
  display: inline-block;
  position: relative;
  height: 30rem;
  transform-style: preserve-3d;
  transform: rotateX(-3deg) rotateY(-15deg);
}
.content .content-right .box1,
.content .content-right .box2 {
  position: absolute;
  margin-top: -3rem;
  border-radius: 0px;
  width: 70%;
  height: 30rem;
  box-shadow: 0px 0px 0px #3e5662;
  background-color: #b1ac2a;
}
.content .content-right .box1 ol,
.content .content-right .box2 ol {
  margin: 0;
  padding: 1.5rem;
  padding-top: 4.5rem;
}
.content .content-right .box1 ol li a,
.content .content-right .box2 ol li a {
  color: #fff;
}
.content .content-right .box1 ol li a:hover,
.content .content-right .box2 ol li a:hover {
  text-decoration: none;
  color: #f00;
}
.content .content-right .box1 ol li a.current,
.content .content-right .box2 ol li a.current {
  color: #f00;
}
.content .content-right .box1 {
  height: 5rem;
  background-color: #72721c;
  transform: rotateX(283deg) translate3d(0rem, 2rem, -2.4rem);
}
.content .content-right .box3,
.content .content-right .box4 {
  position: absolute;
  margin-top: -2rem;
  margin-left: -2rem;
  border-radius: 0px;
  width: 75%;
  height: 3rem;
  box-shadow: 0px 0px 0px #3e5662;
  background-color: #ffd95e;
}
.content .content-right .box3 {
  width: 7.3rem;
  background-color: #9e8833;
  transform: rotateY(90deg) translate3d(3.6rem, 0rem, -3.6rem);
}

.article {
  border-radius: 5px;
  width: 100%;
  height: 30rem;
  box-shadow: 14px -18px 5px #e8e2d2;
  background-color: #eceade;
}
.article .content-left {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-1deg) rotateY(-7deg);
}
.article .content-left .box5,
.article .content-left .box6 {
  position: absolute;
  margin-top: -3rem;
  margin-left: -2.7rem;
  border-radius: 0px;
  width: 100%;
  height: 3rem;
  box-shadow: 0px 0px 0px #99271d;
  background-color: #dc3522;
}
.article .content-left .box5 {
  width: 20rem;
  background-color: #99271d;
  transform: rotateY(90deg) translate3d(10rem, 0rem, -10rem);
}
.article .content-right .box2 {
  margin-top: -4rem;
  height: 34rem;
  background-color: #d9b94c;
}
.article .content-right .box3 {
  margin-top: -3rem;
  background-color: #135d20;
}
.article .content-right .box4 {
  margin-top: -3rem;
  background-color: #938c22;
}

.article2 .content-left .box5,
.article2 .content-left .box6 {
  margin-top: 1rem;
}
.article2 .content-left #text3 {
  margin-top: 5rem;
}
.article2 .content-right .box3,
.article2 .content-right .box4 {
  margin-top: 1rem;
}
.article2 .content-right .box2 ol {
  margin-top: 4.5rem;
}

@media screen and (max-width: 768px) {
  .content {
    position: relative;
  }
  .content .myOpen {
    display: block;
  }
  .content .content-left,
  .content .content-right {
    display: block;
    float: none;
    position: absolute;
    transform: rotateX(-3deg) rotateY(-3deg);
  }
  .content .content-left .box5,
  .content .content-left .box6 {
    display: none;
  }
  .content .content-right {
    display: none;
  }

  .article .content-right {
    margin-top: 1.5rem;
  }
  .article .content-right .box2 {
    margin-top: -1rem;
  }
  .article .content-right .box3,
  .article .content-right .box4 {
    margin-top: 0rem;
  }

  .article2 .content-right .box2 ol {
    margin-top: 0rem;
  }
}
.footer {
  text-align: center;
  line-height: 2rem;
  font-size: 1.6rem;
  color: #666;
  border-radius: 20px;
  width: 100%;
  height: 5rem;
  box-shadow: 8px -12px 5px #d9b94c;
  background-color: #ffd95e;
}

@media screen and (max-width: 768px) {
  .footer {
    line-height: 0.8rem;
    height: 3rem;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=index.css.map */
