<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/c-myAlert.css">
	<style>
		html,
		body{
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		.box{
			width: 200px;
			height: 200px;
			background-color: #f69;
		}
		
	</style>
</head>
<body>
	<div class="box">sdsfs</div>
	<div id="c-myAlert">
		<div id="c-myAlert-content">
			<div id="c-title">
				<div id="c-close" title="关闭">✘</div>
				<div id="c-text">
					存放标题
				</div>
			</div>
			<div id="c-content">
				主体
			</div>
			<div id="c-modify">确认</div>
		</div>
	</div>
	<script src="js/c-myAlert.js"></script>
	<script>
		MyAlert();
	</script>
</body>
</html>