<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/c-carousel.css">
	<style>
		html,
		body{
			margin: 0;
			padding: 0;
		}
		.box{
			width: 500px;
			height: 200px;
			outline: 1px solid #ccc;
			margin: 0 auto;
		}
		
	</style>
</head>
<body>
	<div class="box">
		<div id="c-carousel">
			<ul id="c-imgContent">
				<li><a href="javascript:;"><img src="images/1.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/2.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/3.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/4.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/5.jpg" alt=""></a></li>
			</ul>
			<ul id="c-iconContent">
				<li class="active"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div id="c-left">&lt;</div>
			<div id="c-right">&gt;</div>
		</div>
	</div>
	<script src="js/c-carousel.js"></script>
	<script>
		Carousel();
	</script>
</body>
</html>