<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>凉宫</title>
	<link rel="icon" href="../lee.ico" >
	<style>
		.box{
			width: 100px;
			height: 40px;
			border: 1px solid #ccc;
		}
	</style>
</head>
<body>
	<div class="box">
		<div class="c-code">
			<canvas id="c-cvs"></canvas>
		</div>
	</div>

	<script src="js/c-randomCode.js"></script>
	<script>
		var box=document.querySelector(".box");
		drawBg();
		box.onclick=function (){
			var draw=drawBg();
			console.log(draw.textArr)
			console.log(draw.text)
		}
	</script>
</body>
</html>